.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
