* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 150px;
    background-color: #896de6;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
}
