.container {
    width: min(600px, 90%);
    box-shadow: 0px 0px 10px 1px #00000080;
    padding: 20px;
    margin: 20px auto;
}

label {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    width: 100%;
    margin: 0 auto;
    display: block
}
