<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a href="/" class="nav-link">Volver</a>
                <a href="/p1/" class="nav-link">Index</a>
                <a href="/p1/table" class="nav-link">Tabla de Multiplicar</a>
                <a href="/p1/cotization" class="nav-link">Cotización</a>
                <a href="/p1/alumnos" class="nav-link">Alumnos</a>
            </div>
        </div>
    </div>
</nav>
