<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a href="/" class="nav-link">Index</a>
                <a href="/p1/" class="nav-link">Práctica 01</a>
                <a href="/preexamen1/" class="nav-link">Preexamen C2</a>
                <a href="/examenc2" class="nav-link">Examen C2</a>
            </div>
        </div>
    </div>
</nav>
