<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/preexamen01/index.css">
        <title>Compañía de Luz</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <section class="container">
            <form action="/preexamen1/pago" method="post" onsubmit="return validateForm()" class="form-container">
                <div class="form-group">
                    <label for="numero-recibo">Número de recibo</label>
                    <input type="number" name="numero-recibo" id="numero-recibo" required />
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required />
                </div>
                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" required />
                </div>
                <div class="form-group">
                    <label for="tipoServicio">Tipo de servicio</label>
                    <select name="tipoServicio" id="tipoServicio">
                        <option value="Domicilio">Domicilio</option>
                        <option value="Comercial">Comercial</option>
                        <option value="Industrial">Industrial</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="kw">Kilowatts consumidos</label>
                    <input type="number" name="kw" id="kw" required />
                </div>
                <div class="btnContainer">
                    <button class="btn btn-primary">Enviar información</button>
                    <a class="btn btn-secondary" href="/preexamen1/">Limpiar</a>
                </div>
            </form>
        </section>

        <%- include('partials/footer') %>
        <script>
        function validateForm() {
            const numeroRecibo = document.getElementById('numero-recibo');
            const kw = document.getElementById('kw');

            if (numeroRecibo.value <= 0) {
                alert("El número del recibo debe ser un valor mayor a 0.");
                return false;
            }
            else if (kw.value < 0) {
                alert("Los KW no puede ser menor a 0.");
                return false;
            }
            return true;
        }
        </script>
    </body>
</html>
