<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/preexamen01/acercade.css">
        <title>Pago de Recibo</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <%
        const currentPricePerKw = 'Domicilio' === tipoServicio ? 1.08 : 'Comercial' === tipoServicio ? 2.5 : 'Industrial' === tipoServicio ? 3 : '';
        const subtotal = (kw * currentPricePerKw).toFixed(2);
        const impuesto = (subtotal * 0.16).toFixed(2);

        const discountPercentage = kw <= 1000 ? 0.10 : kw <= 10000 ? 0.20 : 0.50;
        const descuento = (subtotal * discountPercentage).toFixed(2);

        const total = (Number(subtotal) + Number(impuesto) - Number(descuento)).toFixed(2);
        %>

        <section class="main">
            <div class="main-group">
                <p><b>Nombre</b></p>
                <p><%= nombre %></p>
            </div>
            <div class="main-group">
                <p><b>Tipo de servicio</b></p>
                <p><%= tipoServicio %></p>
            </div>
            <div class="main-group">
                <p><b>Kilowatts consumidos</b></p>
                <p><%= kw %></p>
            </div>
            <div class="main-group">
                <p><b>Costo por kilowatts</b></p>
                <p><%= currentPricePerKw %></p>
            </div>
        </section>

        <hr>

        <section class="prices">
            <div class="price-group">
                <p>Subtotal:</p>
                <p><%= subtotal %></p>
            </div>
            <div class="price-group">
                <p>Impuesto:</p>
                <p><%= impuesto %></p>
            </div>
            <div class="price-group">
                <p>Descuento:</p>
                <p><%= descuento %></p>
            </div>
            <div class="price-group">
                <p><b>Total a pagar:</b></p>
                <p><b><%= total %></b></p>
            </div>
        </section>

        <%- include('partials/footer') %>
    </body>
</html>
