<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alumnos</title>
    </head>
    <body>
        <%- include('partials/header.ejs') %>        
        <%- include('partials/nav.ejs') %>        
        <style>
        section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            margin-top: 50px;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            background: #f4f4f4;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input, select{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            margin-bottom: 10px;
            padding: 0px 20px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4caf50;
            color: #fff;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
        </style>
        <section>
            <form action="/p1/alumnos" method="post">
                <input type="number" id="matricula" name="matricula" placeholder="Matricula" required />
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required />
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required />
                <select name="sexo" id="sexo" style="border: 1px solid #ccc; color: #5f5f5f; background-color: #fff">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>                
                <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required />

                <div style="float: right !important; display: flex; flex-direction: row-reverse;">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </section>

        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Domiclio</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    if (reg) {
                    for (let i = 0; i < reg.length; ++i) {
                        %>
                        <tr>
                            <td><%= reg[i].id_alumno %></td>
                            <td><%= reg[i].matricula %></td>
                            <td><%= reg[i].nombre %></td>
                            <td><%= reg[i].domicilio %></td>
                            <td><%= reg[i].sexo %></td>
                            <td><%= reg[i].especialidad %></td>
                        </tr>
                        <%
                        }
                        }
                        %>
                </tbody>
            </table>
        </div>

        <%- include('partials/footer.ejs') %>
    </body>
</html>
