<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cotización de Automóvil</title>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>

        <section class="formulario-container" style="padding: 20px">
            <div id="formulario" class="container">
                <form action="/p1/cotization" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="valor">Valor de automóvil</label>
                        <input type="number" class="form-control" name="valor" id="valor" value="<%=valor%>" required />
                    </div>
                    <div class="form-group">
                        <label for="pinicial">Porcentaje de Pago Inicial</label>
                        <input type="number" class="form-control" name="pinicial" id="pinicial" value="<%=pinicial%>" required />
                    </div>
                    <div class="form-group">
                        <label for="plazos">Plazos</label>
                        <select class="form-control" name="plazos" id="plazos">
                            <option value="12" <%= plazos === 12 ? 'selected' : '' %>>12 Meses</option>
                            <option value="24" <%= plazos === 24 ? 'selected' : '' %>>24 Meses</option>
                            <option value="36" <%= plazos === 36 ? 'selected' : '' %>>36 Meses</option>
                            <option value="48" <%= plazos === 48 ? 'selected' : '' %>>48 Meses</option>
                            <option value="60" <%= plazos === 60 ? 'selected' : '' %>>60 Meses</option>
                        </select>
                    </div>
                    <div class="buttons" style="margin: 20px 0px;">
                        <button type="submit" class="btn btn-primary">Calcular</button>
                        <a href="/cotization" class="btn btn-secondary">Limpiar</a>
                    </div>
                </form>
            </div>
        </section>

        <section class="resultados-container">
            <div class="container">
                <h3>Resultados de la cotización</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (valor) { %>
                        <%
                        let pagoInicial = valor * (pinicial / 100);
                        let totalValor = valor - pagoInicial;
                        let mensualValor = (( valor - pagoInicial ) / plazos).toFixed(2);
                        %>
                        <tr>
                            <td>Pago Inicial</td>
                            <td>$<%=pagoInicial%></td>
                        </tr>
                        <tr>
                            <td>Total a Financiar</td>
                            <td>$<%=totalValor%></td>
                        </tr>
                        <tr>
                            <td>Pago Mensual</td>
                            <td>$<%=mensualValor%></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>

        <script>
            function validateForm() {
                var percentageInput = document.getElementById('pinicial');
                var percentageValue = percentageInput.value;

                if (percentageValue < 0) {
                    alert("El porcentaje no puede ser menor a 0");
                    return false;
                } else if (percentageValue > 100) {
                    alert("El porcentaje no puede ser mayor a 100");
                    return false;
                } else {
                    return true;
                }
            }
        </script>
    </body>
</html>
