<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tabla de Multiplicar</title>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>

        <div class="container mt-5">
            <form action="/p1/table" method="post" class="mb-3">
                <div class="form-group">
                    <label for="numero" class="mb-3">Ingrese un número:</label>
                    <input type="number" id="numero" name="numero" class="form-control mb-3" value="<%=numero%>" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a href="/table" class="btn btn-secondary">Limpiar</a>
            </form>

            <section>
                <%
                let res = 0;
                if (numero != null) {
                    for (let con = 1; con <= 10; ++con) {
                        res = con * numero;
                %>
                        <h3><%=numero%> * <%=con%> = <%=res%></h3>
                <%
                    }
                }
                %>
            </section>
        </div>

        <%- include('partials/footer.ejs') %>
    </body>
</html>
