<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/head') %>
        <title>Examen C2</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <div class="container">
            <h2 class="mt-5 mb-4">Formulario de Pago</h2>
            <form action="/examenc2/pago" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="num_docente">Núm. Docente:</label>
                    <input type="number" class="form-control" id="num_docente" name="num_docente" required>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <div class="form-group">
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" class="form-control" id="domicilio" name="domicilio" required>
                </div>

                <div class="form-group">
                    <label for="nivel">Nivel:</label>
                    <select class="form-control" id="nivel" name="nivel" required>
                        <option value="0">Seleccione el nivel</option>
                        <option value="1">Licenciatura o Ingeniería</option>
                        <option value="2">Maestro en Ciencias</option>
                        <option value="3">Doctor</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="pago_base">Pago base por hora impartida:</label>
                    <input type="number" class="form-control" id="pago_base" name="pago_base" required>
                </div>

                <div class="form-group">
                    <label for="horas_impartidas">Horas impartidas:</label>
                    <input type="number" class="form-control" id="horas_impartidas" name="horas_impartidas" required>
                </div>

                <div class="form-group">
                    <label for="cantidad_hijos">Cantidad de hijos</label>
                    <select class="form-control" id="cantidad_hijos" name="cantidad_hijos" required>
                        <option value="0">Seleccione el número de hijos</option>
                        <option value="1">0 hijos</option>
                        <option value="2">1 a 2 hijos</option>
                        <option value="3">3 a 5 hijos</option>
                        <option value="4">Más de 5 hijos</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
                <a href="/examenc2/" class="btn btn-secondary">Limpiar</a>
            </form>
        </div>

        <%- include('partials/footer') %>
    <script>
    function validateForm() {
        const num_docente = document.getElementById('num_docente');
        const nombre = document.getElementById('nombre');
        const domicilio = document.getElementById('domicilio');
        const nivel = document.getElementById('nivel');
        const pago_base = document.getElementById('pago_base');
        const horas_impartidas = document.getElementById('horas_impartidas');
        const cantidad_hijos = document.getElementById('cantidad_hijos');

        if (num_docente.value <= 0) {
            alert("El número del docente tiene que ser válido.");
            return false;
        }
        else if (pago_base.value < 0) {
            alert("Pago base NO puede ser menor a 0.");
            return false;
        }
        else if (horas_impartidas.value < 0) {
            alert("Horas impartidas NO pueden ser menor a 0.");
            return false;
        }
        else if (Number(nivel[nivel.selectedIndex].value) === 0) {
            alert("Seleccione su nivel de educación, por favor.");
            return false;
        }
        else if (Number(cantidad_hijos[cantidad_hijos.selectedIndex].value) === 0) {
            alert("Seleccione la cantidad de hijos que tiene, por favor.");
            return false;
        }
        return true;
    }
    </script>
    </body>
</html>
