<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/head') %>
        <title>Detalles de Pago</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <%
        const porcentaje_incrementado_pago_base = nivel === 0 ? 0 :
                                                  nivel === 1 ? 0.30 :
                                                  nivel === 2 ? 0.50 :
                                                  nivel === 3 ? 1 : 0;

        const pago_base_mas_nivel = pago_base + (pago_base * porcentaje_incrementado_pago_base);

        const pago_total = (pago_base_mas_nivel * horas_impartidas).toFixed(2);
        const impuestos = (pago_total * 0.16).toFixed(2);

        const bono_porcentaje = cantidad_hijos === 4 ? 0.20 :
                     cantidad_hijos === 3 ? 0.10 :
                     cantidad_hijos === 2 ? 0.05 : 0;
        const bono = (pago_total * bono_porcentaje).toFixed(2);

        const total = (Number(pago_total) - Number(impuestos) + Number(bono)).toFixed(2);
        %>

        <div class="container mt-5">
            <h2>Detalles Pago</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Pago por horas impartidas: </th>
                        <td><%= pago_total %></td>
                    </tr>
                    <tr>
                        <th scope="row">Bonos: </th>
                        <td><%= bono %></td>
                    </tr>
                    <tr>
                        <th scope="row">Impuestos:</th>
                        <td><%= impuestos %></td>
                    </tr>
                    <tr>
                        <th scope="row">Total a pagar: </th>
                        <td><%= total %></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <%- include('partials/footer') %>
    </body>
</html>
