<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Volver</a>
            <a href="/examenc2/" class="nav-link">Formulario de Pago</a>
            <a href="/examenc2/pago" class="nav-link">Detalles de Pago</a>
        </div>
    </div>
</nav>
