* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: max(300px, 80%);
    box-shadow: 0px 0px 10px 0px Black;
    margin: 20px auto;
    padding: 30px;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
}

.price-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100px;
    width: min(300px, 70%);
}
