* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 250px;
    background-color: #b24f78;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
}

img {
    width: 300px;
}
