* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container {
    height: min(500px, 90%);
    width: min(500px, 90%);
    padding: 30px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(400px, 90%);
}

input, select {
    height: 30px;
    width: 100%;
    padding: 3px;
}

/* Sections */
.form-container {
    box-shadow: 0px 0px 5px 0px Black;
    padding: 30px;
}
