.navbar {
    min-height: 100px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 100%;
    width: 100%;
}
