<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Volver</a>
            <a href="/preexamen1/" class="nav-link">Acerca de</a>
            <a href="/preexamen1/pago" class="nav-link">Pago de Recibo</a>
            <a href="/preexamen1/contacts" class="nav-link">Contactos</a>
        </div>
    </div>
</nav>
